name: Build Wine ARM64EC .wcp

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04-arm

    defaults:
      run:
        shell: bash

    steps:

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Make build scripts executable
      run: |
        chmod +x build.sh
        chmod +x build-wine.sh

    - name: Setup llvm-mingw
      run: |
        TOOLCHAIN_VER="20260127"
        FILE="llvm-mingw-${TOOLCHAIN_VER}-ucrt-ubuntu-22.04-aarch64.tar.xz"
        wget -q "https://github.com/mstorsjo/llvm-mingw/releases/download/${TOOLCHAIN_VER}/${FILE}"
        mkdir llvm-mingw
        tar -xJf "$FILE" -C llvm-mingw --strip-components=1
        echo "$PWD/llvm-mingw/bin" >> "$GITHUB_PATH"

    - name: Run deps build
      run: |
        ./build.sh

    - name: Run wine build
      run: |
        ./build-wine.sh

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: wine-arm64ec-wcp
        path: "*.wcp"