name: Build Wine ARM64EC WCP

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-wine:
    runs-on: ubuntu-latest
    environment: production
    steps:

    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Dockerized Arch Linux Environment
      uses: addnab/docker-run-action@v3
      with:
        image: archlinux:latest
        options: --privileged
        docker-run-options: |
          -v "${{ github.workspace }}:/github/workspace"
          -e LLVM_MINGW_VER="20251216"
          -e WCP_NAME="wine-11.1-staging-s8g1"
        run: |
          set -eux

          # Перейти в репо
          cd /github/workspace

          # Обновление системы
          pacman -Sy --noconfirm

          # Установка зависимостей
          pacman -Sy --noconfirm \
            base-devel git wget unzip tar pkgconf \
            freetype2 libpng libjpeg-turbo zlib \
            libx11 libxext libxrandr libxinerama libxi libxcursor \
            gstreamer gst-plugins-base \
            gnutls

          # Проверка окружения
          echo "=== Pacman dependencies installed ==="
          echo "=== LLVM_MINGW_VER=$LLVM_MINGW_VER"
          echo "=== WCP_NAME=$WCP_NAME"

          # Проверка /github/workspace
          echo "--- Workspace ---"
          ls -l .

          # Запуск нашего скрипта сборки
          chmod +x build.sh
          ./build.sh